python-json-logger==2.0.7
opentelemetry-api==1.42.1
opentelemetry-distro==0.63b1
opentelemetry-exporter-otlp==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-exporter-otlp-proto-http==1.42.1
opentelemetry-instrumentation==0.63b1
opentelemetry-instrumentation-asgi==0.63b1
opentelemetry-instrumentation-fastapi==0.63b1
opentelemetry-instrumentation-httpx==0.63b1
opentelemetry-instrumentation-logging==0.63b1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
opentelemetry-util-http==0.63b1
opentelemetry-instrumentation-aiokafka
